* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.board_wrap {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 100px auto;
}
.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-family: 'JeonjuCraftMjB', Arial, sans-serif;
    font-size: 3rem;
}

.board_title p {
    font-family: 'JeonjuCraftMjB', Arial, sans-serif;
    margin-top: 20px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000000;
    color: #FFFFFF;
}

.board_list {
    width: 100%;
    border-top: 1px solid #000000;
}

.board_list > div {
    border-bottom: 1px solid #dddddd;
    font-size: 0;
}

.board_list >div.top {
    border-bottom: 1px solid #999999;
}

.board_list > div.top > div {
    font-weight: 700;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000000;
}

.board_list > div > div {
    /*가로배치*/
    display: inline-block;
    /*모든 픽셀 여백*/
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}


/*.board_list .movieCd {*/
/*    width: 10%;*/
/*}*/
.board_list .movieNm {
    width: 40%;
    text-align: left;
}
.board_list .prdtYear {
    width: 10%;
}
.board_list .openDt {
    width: 10%;
}
.board_list .typeNm {
    width: 10%;
}
.board_list .prdtStatNm {
    width: 10%;
}
.board_list .repNationNm {
    width: 10%;
}
.board_list .repGenreNm {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page div {
    display: inline-block;
    width: 220px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #dddddd;
    line-height: 100%;
}
.board_page div.btnPrev {
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 10px;
    background-color: whitesmoke;
    transition: background-color 0.3s ease; /* 클릭 효과에 사용될 트랜지션 추가 */
}

.board_page div.btnPrev:hover,
.board_page div.btnNext:hover {
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 10px;
    /*background-color: rgba(222, 35, 69, 0.34);*/
    background-color: rgba(222, 35, 69, 0.34); /* 마우스 호버 시 배경색 변경 */
}

.board_page div.btnNext {
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 10px;
    background-color: whitesmoke;
    transition: background-color 0.3s ease; /* 클릭 효과에 사용될 트랜지션 추가 */
}



.board_page div.bt.disabled-element {
    pointer-events: none;
    cursor: default;
}

.board_page div.number-button-wrapper {
    border-radius: 5px;
    width: 25rem;
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page span.number-button {
    margin: 5px;
    padding: 3px 5px;
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
}
.board_page span.number-button.active {
    text-align: center;
    margin: 5px;
    padding: 3px 5px;
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    font-size: 1.4rem;
    /*border-color: orange;*/
    /*background: orange;*/
    color: #f31313;
}

/*.board_page span:first-child {*/
/*    border-left: 1px solid #dddddd;*/
/*}*/
